<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>BBVA BANCOMER :::: INVENTARIOS</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/master.css" media="all"></link>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}css/sitio.css" media="all"></link>
        <script src="{{ MEDIA_URL }}js/jquery-1.4.2.min.js" type="text/javascript"></script>
        <script src="{{ MEDIA_URL }}js/jui.js" type="text/javascript"></script>
	{% block extrahead %}{% endblock %}
</head>
<body>
    <div id="back_lbox"></div>
    <div id="lbox">
	<div id="lbox_closer_box">
	    <a href="#cerrar" id="cerrar_lbox" class="inline_blocke">cerrar</a>
	</div>
	<div id="lbox_content" class="inline_blocke"></div>
    </div>
    <div>
	    {% block contenido %}
	    {% endblock %}
    </div>		
</body>
</html>
