{% extends 'base.html'%}
{% block extrahead %}
    <script src="/media/js/sitio/auth.js" type="text/javascript"></script>
{% endblock %}

{% block contenido %}
	<div class="logologin">Logo</div>
	<div id="login_box">
		{% include 'login.html' %}
	</div>	
{% endblock %}
