<style>
    body{
        background:#124D91;
    }
</style>

<h3 class="err">USUARIO Y/O CONTRASEÑA INCORRECTOS</h3>
<div id="loginform">
    <form name="login" id="login_form" action="/" method="post">
        <div id="boxinsid">
            {% csrf_token %}
            <input type="text" id="correo_txt" name="correo" maxlength="200" class="login_txt" placeholder="USUARIO" />
            <br/>
            <input type="password" id="pwd_txt" name="clave" maxlength="200" class="login_txt" placeholder="CONTRASEÑA" />
            <br/>
            <div id="errbox"></div>
        </div>
        <div id="subbtn">
            <input type="submit" value="GO" id="login_go" />
        </div>
    </form>
</div>

