{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/user.css" media="all"></link>
    <script src="{{ MEDIA_URL }}/js/userax.js" type="text/javascript"></script>
    <script type="text/javascript">
        Cufon.replace('.cuffi');
    </script>
{% endblock %}

{% block contenido %}

{% if 'admin'  in gp %}
<div style="margin:60px 10px;text-align:right;"><a href="#adduser" id="adduser" class="buton_standart coffi">AGREGAR USUARIO+</a></div>
<div id="form_user_box"></div>
{% for usuario in usuarios %}
<div  class="inline_blocke each_one">
    <div class="butons_box">
        <a id="reslut_{{usuario.id}}" href="#editar" class="edit_buton buton_standart inline_blocke">Editar</a>
    </div>
    <div class="info_box">
        <h4 class="quiksand">{{usuario.first_name}} {{usuario.last_name}}</h4>
        <div class="quiksand">{{usuario.email}}</div>
        <div class="quiksand">{%for g in usuario.groups.all %}{{g.name}}|{% endfor %}</div>
        {% ifnotequal yo.pk usuario.pk %}
        <div class="del_buton_box">
        <a href="#{{usuario.email}}" id="kel_{{usuario.id}}" class="del_buton buton_standart inline_blocke">Eliminar</a>
        </div>
        {% else %}
        <div class="del_buton_box buton_standart ">
            that's you
        </div>
            
        {% endifnotequal %}
    </div>
</div>
{% endfor %}
{% endif%}
{% endblock %}
