{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/css/rack.css" media="all"></link>
    <script src="{{ MEDIA_URL }}/js/rack_manager.js" type="text/javascript"></script>
<style>
    .b1{
        width:100%;height:100%;
    }
    .b1 tr,.b1 td{
        border:1px solid #000;
    }
    .b1 td{
        border-radius:6px;
        border:1px solid #5A7D96;

        
    }
    .pix{
        border:0px solid !important;
        color:#FFF;
    }
    
    #rack_build{
        list-style: none;
        font-family:Calibri,Helvetica,Arial,sans-serif;
    }
    #rack_build li{
        list-style:none;
        
        background:#7BBBED;
        color:#000;font-size:11px;
        font-weight:100;margin:2px 0px;border-radius:4px;
        padding:14px;
        
    }
    #rack_build li span{
        padding-right: 20px;
    }
    .itemr{
        text-align:center;font-size:12px;color:#000;font-weight:600;
    }
    
    .miniu{
    width:40px !important;
}

    .master{
        
    }
    .enclousure{
        border:1px solid #FFF;width:60%;
    }
    
    .equipo{
        border: 1px solid #5058ED;
        border-radius:4px;
        padding:6px;background:#85C4F2;font-size:11px;font-weight:500;
    }
    
    .enclousure_box{
        width:80%;border:1px solid #000;
        height:100%;

    }

    
    .enclousure_box td{
        border:1px solid #000;
        border-radius:6px;
        padding:4px;
        background:#85F469;
        margin:12px;
        height:100%;

    }
    .ocupado{
        background:#4E75E0 !important;color:#FFF;
    }
    .ocupado a{
        display:block;width:100%;
        height:100%;
    }
    
    .ocupado_enclousure{
        -webkit-transform: rotate(-90deg); 
        -moz-transform: rotate(-90deg);	
        background:#4E75E0 !important;color:#FFF;
        font-size: 9px;
        font-weight:600;
    }
</style>

{% endblock %}


<div style="text-align: left;">

    <ul class="formface  quicksands inline_blocke" style="width:40%;text-align:left;font-size:11px;">
        <li>EDIFICIO</li>
        {% for e in edificios %}
            <li class="inline_blocke" style="background:#7BBBED;">
            <b>{{e.nombre_edificio}}</b>
            {% for r in e.racks %}
                <div>
                    RACK: <a href="#a" class="rackgo" id="r_{{r.num_rack}}">{{r.num_rack}}</a>
                </div>
            {% endfor %}
            </li>
        {% endfor %}    
        
    </ul>
    <ul id="rack_build" class="inline_blocke quicksand" style="width:58%;"></ul>
    
<!--    <div id="items_rack" class="inline_blocke" style="width:10%;"></div>
-->
</div>

<script type="text/javascript">

function Enclousurer(nc,nr) {
    var enclousure_box = document.createElement('table');
    enclousure_box.className = 'enclousure_box inline_blocke';
    var firstC = 0;
    for (i=0;i<nr;i++) {
        var enclousure_row = document.createElement('tr');
        $(enclousure_box).append(enclousure_row);
        for(ii=1;ii<nc+1;ii++){
            firstC++;
            var enclousure_col = document.createElement('td');
            enclousure_col.className="tabler "+"c_"+firstC;
            enclousure_col.innerHTML = firstC;
            $(enclousure_col).css('width',100/nc+"%");
            $(enclousure_row).append(enclousure_col);
        }
    }
    
    return enclousure_box;
}

    $(".rackgo").click(function(e){
        e.preventDefault();
        var numrack = $(this).attr("id").replace("r_","");
        $("#rack_build").html('');
        for(i=42;i>0;i--) {
            var liu = document.createElement('li');
            var numu = document.createElement('span');
            numu.innerHTML = i;
            liu.id = 'u_'+i;
            $(liu).append(numu);
            $("#rack_build").append(liu);
        }
        var hijos = [{'k':null}];
        $.ajax({url:"/items_in_rack/"+numrack+"/",
               dataType:'json',
               success:function(response){
                
                $.each(response,function(x,y){
                    hijos.push({'enclousure':y.enclousure,
                               'equipo':y.nombre,
                               'donde':y.p_enclousure});
                    if (y.unidades){
                        if(y.unidades.indexOf(',')>-1){
                            var pices = y.unidades.split(',');
                            uua_first = pices[0].trim();
                            ulia = document.createElement('ul');
                            ulia.className = 'inline_blocke';
                            dmaster = document.createElement('li');
                            dmaster.className = 'master ocupado';
                            var rows = 2;
                            var columnas = 8;
                            
                            if(y.tipo=='Enclousure'){                            
                                var enbx = Enclousurer(columnas,rows);
                                enbx.id = 'x_'+y.nombre.replace(/-/g,'_');
                            }
                            else{
                                var enbx = document.createElement('div');
                                enbx.id = 'x_'+y.nombre.replace(/-/g,'_');
                                enbx.innerHTML = y.nombre;
                                enbx.className = 'equipo inline_blocke';
                            }
                            $(dmaster).append(ulia,enbx);
                            $("#u_"+uua_first).before(dmaster);
                            for(a=pices[1].trim();a>pices[0].trim()-1;a--){
                                $("#u_"+a).remove();
                                li_a = document.createElement('li');
                                li_a.className = 'miniu';
                                li_a.innerHTML = a;
                                $(ulia).append(li_a);
                            }
                            altura = ulia.offsetHeight/rows;
                            anchura = dmaster.offsetHeight-40;
                            $('#x_'+y.nombre.replace(/-/g,'_')+' tr').css('height',altura+'px');
                            $('#x_'+y.nombre.replace(/-/g,'_')+' td').css('width',anchura+'px');
                        }
                        else{
                            $("#u_"+y.unidades).addClass('ocupado').html(y.unidades + "   " + y.nombre );
                        }
                        
                    }  
                });
                
                $.each(hijos,function(x,y){
                    if (y.enclousure) {
                        if(y.donde){
                            var filus = y.donde.split(',');
                            for(f in filus){
                                var spant = document.createElement('div');
                                spant.innerHTML = y.equipo;
                                spant.className = 'ocupado_enclousure';
                                //alert("#x_"+y.enclousure.replace(/-/g,'_')+" .c_"+filus[f]);
                                $("#x_"+y.enclousure.replace(/-/g,'_')+" .c_"+filus[f]).append(spant).addClass('ocupado');

                            }
                        }
                        
                    }
                });
                
               }
        });
    });
</script> 
