{% extends 'base.html'%}
{% block extrahead %}
    <script src="{{ MEDIA_URL }}/js/navigation.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}/js/cfui.js" type="text/javascript"></script>
    <script src="{{ MEDIA_URL }}/js/bbv_400-bbv_700-bbv_oblique_400-bbv_oblique_700.font.js" type="text/javascript"></script>
    <script type="text/javascript">
        Cufon.replace('.info_user');
        Cufon.replace('.cuffonik');
    </script>
    <style>
   </style>
{% endblock %}

{% block contenido %}
<div id="cabecera">
    <div class="inline_blocke logon" ><img src="/media/img_logos/logo.jpg" border="0"/></div>
    <div class="inline_blocke info_user">
        <p>Hola:<a href="#{{user.first_name}}" id="result_{{user.pk}}" class="editmyuser">{{user.first_name}}</a> {{user.last_name}}</p>
        <p style="font-size:12px;">
           ( {% for g in user.groups.all %} 
                {{g}} | 
            {% endfor %} )
            <a href="/logoff">SALIR</a></p>
    </div>
</div>
<div id="medio" class="info_user">
        <a href="/">INICIO</a>
    {% if 'admin' in gp %}
        <a href="#users" id="users_buton">USUARIOS</a>    
    {% endif %}
    {% if user.is_superuser %}
         <a href="#" id="import_ocsweb_btn">IMPORTAR DATOS</a> 
    {% endif %}
    <a href="#add" id="add_buton">AGREGAR HARDWARE +</a>
</div>
<br/>
<div id="search_box">
    <form name="search_form" method="post" id="search_form" action="#SEARCHENGINE">
        <div class="inline_blocke" style="">
        {% csrf_token %}
        <span class="coffonik" style="font-size:11px;">Buscar(nombre ó ip ó tipo hardware ó servicio):</span>
        <input type="text" name="text_srch" id="text_search" class="inline_blocke coffonik" />
        <select name="db_state" id="select_db_state" class="coffonik">
            <option value="1">Finalizados</option>
            <option value="3">Pendientes</option>
        </select>
        <input type="submit" value="BUSCAR" id="search_buton" class="inline_blocke" style="font-family:Arial;width:80px;" />
        </div>
    </form>
</div>

<div id="result_box">
    <div class="first_report cuffonik">
        <h2 class="titl">TOTAL {{reports.total}} EQUIPOS REGISTRADOS</h2>
        <div>
            <p class="titl">Virtuales</p>
            <p>{{reports.virtual}} equipos registrados</p>
        </div>
         <div>
            <p class="titl">Físicos</p>
            <p>{{reports.fisico}} equipos registrados</p>
        </div>
          <div>
            <p class="titl">Otros</p>
            <p>{{reports.otros}} equipos registrados</p>
        </div>
 
    </div>


</div>


<div id="filter_box">
</div>
<script type="text/javascript">
  params_search = null;
    params_search = [];
    params_search.push({name:'csrfmiddlewaretoken',
                           value:$("[name=csrfmiddlewaretoken]").val()});
    
   $.getScript("/media/js/search_more.js");
</script>
                                     


{% endblock %}
