*{
    padding:0px;margin:0px;border:0px solid;
}

*:focus { outline: none; }

body,html{
    height:100%;width:100%;
    /*font-size: 62.5%;*/
    font-size:100%;
}

.inline_blocke,
.formface label,
.ui-datepicker-prev,
.ui-datepicker-next{
    display:inline-block;display: -moz-inline-stack;display: inline-block;vertical-align: top;
    zoom: 1;*display: inline;text-align:justify;
}
 input:focus{
    color:#094FA4;
 }
 
 .err{
    height:26px;background:url(/media/img_logos/btones.png) no-repeat 0px 0px;
    margin:12px 10px;
    padding-left:35px;
    font-family: 'Open Sans', sans-serif;
    font-size:0.8em;font-weight:400;
    color:#666;display:none;
 }
 

 
 
 #back_lbox{
    position:fixed;width:100%;height:100%;
    background:#000;display:none;z-index:3;
 }
 
 #lbox{
    text-align:center;width:100%;height:auto;
    margin:0px auto 124px auto;display:none;z-index:40;position:absolute;
    top:12px;
 }
 
 #lbox_closer_box{
    width:100%;text-align:right;
 }
 #cerrar_lbox{
    margin-right:100px;
    background:url(/media/img_logos/closelbox.png) no-repeat scroll 0px 0px;
    width:31px;height:41px;overflow:hidden;line-height:500px;
 }
 #cerrar_lbox:hover{
    background-position:0px -55px;
 }
 
 
 #lbox_content{
    width:auto;height:auto;margin:auto;
    text-align:center;
 }   
    
    
    