@import url(chumbuket.css);
h1, .titulos{
    font-family: 'Open Sans', sans-serif;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size:0.8em;font-weight:200;
}

.opensans{
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size:0.8em;font-weight:200;
}


.quiksand{
    font-family: 'Quicksand', sans-serif;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-size:12px;
    font-weight:400;
}

.headname{
    font-family: 'Quicksand', sans-serif;
    font-family: Calibri, Helvetica, Arial, sans-serif;
    font-weight:400;font-size:1.4em;
}

.rig{
    text-align:right;font-size:1.3em;width:600px;
}

#contenedor{
    background:url(/media/img_logos/bksite.jpg) no-repeat scroll -70px -120px;
    width:100%;height:100%;overflow:auto;position: absolute;z-index:1;
}

.boxsite{
    padding-top:74px;
}


/* FORMULARIOS  */

.rigthtitol{
    font-size:1.8em;color:#4990D2;
    text-align:right;width:330px;
}

.boxinput{
    background:#37B13D;width:330px;font-weight:400;font-size:1.8em;
    padding:6px;color:#000;margin:4px 0px;
}
.labl1{
    width:120px;text-align:right;
}
.inputs{
    width:190px;margin-top:4px;border:0px solid;background:none;color:#FFF;
    border-left:1px dotted #FFF;padding-left:4px;
}

.boxreg{
    width:330px;
}

.btnforms{
    background:url(/media/img_logos/sprite1.png) no-repeat;overflow:hidden;height:48px;line-height:120px;
    margin:40px 0px 0px 10px;
}


.cargando{
    font-size:1.5em;font-family: 'Quicksand', sans-serif;
    text-align:center;background:#4990D2;height:50%;width:100%;
}