#rack_box{
    width:100%;height:auto;text-align:center;
    
}
#rack{
    width:40%;margin:auto;padding:2px;border:4px solid #999;
    border-radius:6px;padding:4px;
}

.ud{
    width:;100%;height:30px;margin:6px 0px;
    border-radius:6px;
    border:2px solid #5A7D96;
}

.void{
    background:#3A5D77;
}
.unable{
    background:#666;
}
.tiket{
    width:50px;color:#FFF;font-weight:700;
}
.blade{
    background:#79D358;
}

.pix{
    width:24px;font-size:0.8em;
}


