/* +++++++++++++++++++++++++++++++++++ LOGIN CSS +++++++++++++++++++++++++++++++  */

h5{
   font-weight:400;
   word-spacing: 2px;
}

#login_box{
   width:350px;
   margin:auto;
}

#boxinside{
   background:#E8E8E8; 
   width:328px;height:171px;
   text-align:center;
   margin:auto;
   padding:14px 0px;
}

#subbtn{
   width:328px;height:171px;
   text-align:right;
   margin:auto;
   padding:14px 0px;
   
}

.login_txt{
    width:267px;
    border:0px solid;margin:4px;padding:14px 12px;
    background:#FFF;color:#999;
    font-family: 'Quicksand', sans-serif;font-size:1.2em;
    font-family: Calibri, Helvetica, Arial, sans-serif;
}

.logologin{
   background:url(/media/img_logos/logo.jpg) no-repeat;
   width:324px;height:56px;overflow:hidden;margin:24px auto;
   line-height:200px;
   
}

#login_go{
   background:#52BCEC;color:#000;font-size:1.2em;
   font-family: Calibri, Helvetica, Arial, sans-serif;
   padding:12px;

}

/*  STANDART STYLES */
.buton_standart{
   color:#000;font-size:14px;
   padding:4px;text-decoration:none;

}

/*MODULO WELCOME BÚSQUEDA*/

#logo_box{
   text-align:left;
   width:50%;padding:6px;
   height:77px;overflow:hidden;
   
}

#info_user_box{
   width:40%;text-align:right;padding:8px;
}

#user_salute
{
    margin:8px;font-size:14px;font-family:arial;
    width:auto;
}

#close_session,
.closer{
      color:#DD5224;font-family:'Open Sans',sans-serif;font-size:13px;
      font-family: Calibri, Helvetica, Arial, sans-serif;
      padding:2px 4px;background:#EDEDED;text-decoration:none;
      font-weight:700;
}

/*SEARCH BOX*/
   #search_box{
      padding:12px;
   }
   #text_search{
      margin-left:24px;width:30%;background:#3A5D77;padding:6px 3px;
      font-size:1.2em;color:#FFF;
   }
   #search_buton{color:#000;
      background:none;padding:4px 12px;
      width:60px;font-weight:500;
   }
   #search_buton:hover{color:#A1E25B;}
   
   #add_buton_box{text-align:right;width:100%;}
   #xadd_buton,
   .addingbtn,
   .greenbtn{
      margin-right:25px;background:#A1E25B;color:#000;text-decoration:none;font-size:11px;
      padding:6px;font-weight:500;border-radius:6px;
   }   




/*     ---[RESULT BOX]----------  */
   #result_box{
      width:100%;height:auto;margin-left:12px;margin-bottom:220px;
      text-align:center;
   }
   .each_one{
      padding:6px 24px;margin:4px;text-align:left;
      width:180px;height:auto;background:#7BBBED;
      border:2px solid #C6CCD3;border-radius:10px;
      color:#000;
   }
   .info_box{
      padding-top:12px;
   }
   .info_box h4{text-align:center;font-weight:500;text-shadow: rgb(50,50,50);letter-spacing:2px;color:#000;}
   .name_h{font-size:12px !important;}
   .info_h{font-weight:300;color:#666 !important;}
   
   .butons_box{
      text-align:right;margin:2px 0px 30px 0px;
   }
   .edit_buton{
      background:#3A5D77;color:#FFF;width:50px;
      text-align: center;font-size:11px;border-radius:6px;padding:3px;
   }
   .del_buton{
      background:#DD5224;color:#FFF;width:50px;text-align:center;
      font-weight:600;font-size:10px;border-radius:6px;
   }
   
   .del_buton_box{
         text-align:right;margin-top:40px;
      }
   
   .detail_buton,
   .log_buton{
      border-bottom:1px dotted #DD5224;color:#333;width:50px;
   }
   
   .del_buton:hover,.edit_buton:hover,.detail_buton:hover{color:#09F721;padding-top:5px;}
   
   
/*   MODULO DE FILTRADO */

   #filter_box{
      position:fixed;z-index:2;bottom:0px;background:#124D91;width:100%;
      margin:auto;color:#FFF;
      height:30px;left:0px;
   }
   
   #moresearch{
      padding:12px;
   }
   
   #filter_box ul{
      list-style: none;margin:0px 12px;
      font-size:11px;
   }
   
   #box_filter_switcher{
      text-align:right;margin-right:10px;margin-top:12px;
   }
  
    th{

        font-size:12px;
    }
 
   #stater_buton{
      background:url(/media/img_logos/btones.png) no-repeat scroll 0px -99px;
      padding-left:40px;width:400px;height:25px;overflow:hidden;font-size:18px;font-weight:800;
      color:#FFF;
   }
   .down_btn{
      background-position:0px -56px !important;
   }
   
   
/*  FORMULARIOS      */
   
   .listad{
      list-style:none;
      margin-left:120px;
   }
   
   .formface{
      text-align:left;
      font-family: Calibri, Helvetica, Arial, sans-serif;
      font-size:12px;
   }
      .formface div,
      .formface p
      { margin:6px 0px;text-align:left;}
      
      .formface select{
         border:1px solid #EDEDED;width:250px;
         margin-left:12px;border-radius:4px;
         text-transform: uppercase;color:#000;
      }
      
      .formface input[type="text"],
      .formface input[type="password"],
      .formface textarea
      {
         padding:8px;color:#000;
         background:#D2E6F7;margin-left:12px;
         width:250px;font-size:0.8em;
         border-radius:4px;
         text-transform: uppercase;
      }
      
      #form_usuario input,
      #form_usuario select
      {
         text-transform: none;
      }

      .formface .values_info
      {
         padding:8px;
         margin-left:12px;
         width:250px;font-size:0.8em;
         border-radius:4px;
         font-weight:500;
      }

      
      .formface label{
         width:180px;font-size:1em;
         text-align:right;line-height:30px;
      }
      .smalltxt{
         width:40px !important;
      }
      .revas_unem{
         list-style:none;
         width:635px;
      }
      .revas_unem li{
         margin:0px;
         
      }
      .revas_unem li a{
         display:block;width:100%;
         text-decoration:none;
         text-align:center;
         font-family: Calibri, Helvetica, Arial, sans-serif;
         color:#FFF;background:#3A5D77;
         padding:6px;font-size:11px;
         border-left:1px solid #999;
   }
   .revas_unem li a:hover{
      color:#000;
   }
   .revas_unem_onn{
      background:#FFF !important;color:#000 !important;
   }
   
   
   #form_dentro{
      background:#FFF;margin:0px;
      width:700px;
      margin-bottom:40px;
      
   }
   #botonera_form{
      width: auto;margin-top:20px;
      
      
   }
   #botonera_form a{
      text-decoration:none;padding:12px 6px;margin:3px 0px;
      font-size:13px;font-family:Arial;display:block;text-align:center;
      border-radius:1px;width:120px;margin-left:130px;
   }
   #save,
   #ending,
   #save_all,#new_save{
      background:#A1E25B;color:#000;
      border-left:4px solid #A9A9A9;
   }
   
   
   .response_ok{
        background:#A1E25B;color:#000;font-size:16px;
        padding:2px 12px;
    }   
  
.response_false{
    background:#CC0000;color:#FFF;font-size:16px;padding:2px 12px;
    }

   
   #close,#closer_box{
      background:#ADADAD;color:#000;
   }
   #delreg{ background:#F7622C;color:#FFF;}

/*   BLOCK FEATURES*/
#block_features,
#block_network,
#block_responsable_garantia,
#block_location,
#block_software
{
   display:none;
}

.errform{
   font-size:0.8em;color:#A50E0B;
   margin-left:130px;border-bottom: 2px dotted #A50E0B;
}
.errvoid{
   background:#CC0000 !important;
}

#block_singleton{
   position:absolute;padding:12px;
   z-index:100;background:#FFF;
   border:5px solid #999;display: none;
}
#save_single{
   margin:12px 0px;
   background:#4FFF92;
   text-transform: uppercase;
}
#close_single{
   margin:12px 0px;
   background:#F7622C;
   text-transform: uppercase;
}

.addsingleton{
   background:#4FFF92;padding:3px;text-decoration:none;
   color:#000;font-size: 11px;
   
}
.pagination{
   text-align:center;
   font-family:'Quicksand',sans-serif;color:#000;font-size:0.8em;
   font-family: Calibri, Helvetica, Arial, sans-serif;
   margin: 24px 0px;
}

.pagination a{
   font-family:'Quicksand',sans-serif;color:#000;font-size:1.4em;
   font-family: Calibri, Helvetica, Arial, sans-serif;padding:4px;text-decoration:none;font-weight:400;
   border-bottom:solid 1px #4FFF92;
}

.pagination a:hover{
   color:#3A5D77;
}



#pasos{
   background: #FFF;padding:6px;
}

.disabledd{
   background:#EDEDED !important;color:#999 !important;
}


/*                  DATE PICKER           */


#ui-datepicker-div{
   background:#3A5D77;font-family:'Quicksand',sans-serif;color:#EDEDED;font-family: Calibri, Helvetica, Arial, sans-serif;
}
#ui-datepicker-div a{
   color:#FFF;text-decoration:none;border-bottom:1px solid #999;
}
.ui-datepicker-prev{
   width:50%;
}
.ui-datepicker-next{
   width:48%;
   text-align: right;
}

.logg ul{
   list-style:none;
   font-size: 11px;
   font-family: Calibri, Helvetica, Arial, sans-serif;
}

#moresearch input,
#moresearch select{
    width:50px;

}
        #cabecera{
            background:#124D91;padding:12px 5px;
        }
        .logon{ padding-left:20px;}
        .info_user{
            text-align:right;padding-right:40px;
            color:#FFF;width:100%;position:absolute;right:0px;font-size:20px;
        }
        .info_user a{
            color:#FFF;font-size:14px;font-weight:700;
        }
        .editmyuser{ font-size:20px !important; }
        
        #medio{
            background:#124D91;
            color:#FFF;text-align:center;
        
        }
        #medio a{
            color:#FFF;font-size:16px;font-weight:700;
            padding:12px 12px;
        }
        #medio a:hover {color:#00FF00;}
        
    #select_db_state{
            color:#FFF;background:#999;padding:4px;font-size:20px;width:160px;
        }
        .linka{
            color:#000;display:block;margin-left:50px;padding-top:6px;font-weight:700;
        }
        .aviso{
            font-size:14px;font-weight:700;
            text-align:right;
            width:100%;
        }
        #mas_txts{
            color:#FFF;
        }

.first_report{
    text-align:left;width:70%;margin:auto;
}
.titl{
    background:#124D91;color:#FFF;padding:12px 5px;font-size:18px;    
}
