<div>
    <label for="ram">RAM</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.ram}}</span>
</div>            
<div>
    <label for="espacio_asignado">Espacio asignado</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.espacio_asignado}}</span>
</div>            
<div>
    <label for="antivirus">Antivirus</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.antivirus}}</span>
</div>            
<div>
    <label for="delegado_prod">Delegado Prod</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.delegado_prod}}</span>
</div>            
<div>
    <label for="proc_socket">Socket Procesador</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.proc_socket}}</span>
</div>            
<div>
    <label for="proc_cores">CORES</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.proc_cores}}</span>
</div>            
<div>
    <label for="posicion_enclousure">Posición Enclousure</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.posicion_enclousure}}</span>
</div>            
<div>
    <label for="proc_arq">ARQ Procesador</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.proc_arq}}</span>
</div>            
<div>
    <label for="formato_nombre">Formato</label>
    <span class="inline_blocke values_info">{{values.features_set.all.0.formato_nombre}}</span>
</div>

<div id="block_caja_discos">
    <h3>CHAROLA DE DISCOS</h3>
    {% if values.disco_set.all %}
       {% for d in values.disco_set.all %}
            <div class="disc_info">
                 <label>ID Charola</label>
                 <span class="inline_blocke values_info">{{d.id_charola}}</span>
                 <label>Espacio Discos </label>
                 <span class="inline_blocke values_info">{{d.discos}}</span>
                 <label>Espacio Ocupado</label>
                 <span class="inline_blocke values_info">{{d.espacio_ocupado}}</span>
                 <label>Tipo Disco</label>
                 <span class="inline_blocke values_info">{{d.tipo_disco}}</span>
                 <label>Tamaño Discos</label>
                 <span class="inline_blocke values_info">{{d.tamanyo_disco}}</span>
             </div>
        {% endfor %}
    {% endif%}
</div>


