<div>
    <label for="tipo_hdwre">Tipo Hardware</label>
    <span class="inline_blocke values_info">{{values.tipo_hdwre}}</span>
</div>

<div>
    <input type="hidden" name="idocs" id="idocs" value="" />
    <label for="nombre">Nombre</label>
    <span id="nombre" class="inline_blocke values_info">{{values.nombre}}</span>
</div>
<div>
    <label for="ssn">SSN</label>
    <span id="ssn" class="inline_blocke values_info">{{values.ssn}}</span>
</div>
<div>
    <label for="marca">Marca</label>
    <span id="marca" class="inline_blocke values_info">{{values.marca.nombre}}</span>
</div>
<div>
    <label for="modelo">Modelo</label>
    <span id="modelo" class="inline_blocke values_info">{{values.modelo.nombre}}</span>
</div>
<div>
    <label for="consola">Consola</label>
    <span id="consola" class="inline_blocke values_info">{{values.consola}}</span>
</div>

<div>
    <label for="ambiente">Entorno</label>
    <span id="ambinete" class="inline_blocke values_info">{{values.ambiente}}</span>
</div>
<div>
    <label for="posicion">Posición</label>
    <span id="posicion" class="inline_blocke values_info">{{values.posicion}}</span>
</div>

<div>
    <label for="lun">Lun</label>
    <span id="lun" class="inline_blocke values_info">{{values.lun}}</span>
</div>

<div>
    <label for="cmdb">CMDB</label>
    <span id="cmdb" class="inline_blocke values_info">{{values.cmdb}}</span>
</div>

