<div>
    <label for="edificio">Edificio</label>
    <span id="edificio" class="inline_blocke values_info">{{values.lugar_set.all.0.edificio.nombre}}</span>
</div>

<div>
    <label for="num_rack">Rack</label>
    <span id="num_rack" class="inline_blocke values_info">{{values.lugar_set.all.0.num_rack}}</span>
</div>

<div>
    <label for="formato_nombre">Formato</label>
    <span id="formato_nombre" class="inline_blocke values_info">{{values.lugar_set.all.0.formato_nombre}}</span>
</div>   

<div>
    <label for="unidades">Unidades</label>
    <span id="unidades" class="inline_blocke values_info">{{values.lugar_set.all.0.unidades}}</span>
</div>

<div>
    <label for="fila_rack">Fila</label>
    <span id="fila_rack" class="inline_blocke values_info">{{values.lugar_set.all.0.fila_rack}}</span>
</div>
