<div id="form_dentro" class="formface logg">
    {% if response %}

    <ul>
        {% for c in cambios %}
        <li>{{c.cuando}} -- {{c.quien}}
            <div>
                <ul class="inline_blocke">
                    <li>ANTES</li>
                    {% for x,y in c.antes.items %}
                        <li>{{x}}:{{y}}</li>
                    {% endfor %}
                </ul>
                <ul class="inline_blocke">
                    <li>AHORA</li>
                    {% for x,y in c.ahora.items %}
                        <li>{{x}} : {{y}}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
    {%else%}
        <div class="buton_standart">No se han registrado cambios en este registro.</div>
    {%endif%}
</div>