<div>
    <label for="ip">IP's</label>


    <span id="ip" class="inline_blocke values_info">{{values.network_set.all.0.ip|linebreaks}}</span>
{% for ipp in values.ips_set.all %}
   <div class="ip_info">
        <div class="inline_blocke" style="width:120px;"><span>NOMBRE:</span><br/>{{ipp.nameip}}</div>
        <div class="inline_blocke" style="width:150px;"><span>NUM:</span><br/>{{ipp.ipnum}}</div>
        <div class="inline_blocke" style="width:150px;"><span>DESC:</span><br/> {{ipp.descrip}}</div>
   </div>
{% endfor %}

</div>            
<div>
    <label for="puertos_total">Puertos total</label>
    <span id="puertos_total" class="inline_blocke values_info">{{values.network_set.all.0.puertos_total}}</span>
</div>
<div>
    <label for="puertos_licenciados">Puertos licenciados</label>
    <span id="puertos_licenciados" class="inline_blocke values_info">{{values.network_set.all.0.puertos_licenciados}}</span>
</div>
<div>
    <label for="puertos_usados">Puertos Usados</label>
    <span id="puertos_usados" class="inline_blocke values_info">{{values.network_set.all.0.puertos_usados}}</span>
</div>
<div>
    <label for="puerto_switch">Puerto Switch</label>
    <span id="puerto_switch" class="inline_blocke values_info">{{values.network_set.all.0.puerto_switch}}</span>
</div>
<div>
    <label for="cluster">Cluster</label>
    <span id="cluster" class="inline_blocke values_info">{{values.network_set.all.0.cluster}}</span>
</div>
<div>
    <label for="serie_rack">No. Serie</label>
    <span id="serie_rack" class="inline_blocke values_info">{{values.network_set.all.0.serie_rack}}</span>
</div>
<div>
    <label for="no_enclousure">No. Enclousure</label>
    <span id="no_enclousure" class="inline_blocke values_info">{{values.network_set.all.0.no_enclousure}}</span>
</div>
<div>
    <label for="no_serie_oa">No. Serie OA</label>
    <span id="no_serie_oa" class="inline_blocke values_info">{{values.network_set.all.0.no_serie_oa}}</span>
</div>

<div>
    <label for="respaldos">Respaldos</label>
    <span id="respaldos"  class="inline_blocke values_info">{{values.network_set.all.0.respaldos}}</span>
</div> 
<div>
    <label for="monitores">Monitores</label>
    <span id="monitores" class="inline_blocke values_info">{{values.network_set.all.0.monitores}}</span>
</div> 