<div>
    <label for="nombre_aplicacion">Nombre Aplicación</label>
    <span id="nombre_aplicacion"  class="inline_blocke values_info">{{values.responsable_garantia_set.all.0.nombre_aplicacion}}</span>
</div>
<div>
    <label for="empresa">Empresa</label>
    <span  id="empresa" class="inline_blocke values_info">{{values.responsable_garantia_set.all.0.empresa.nombre}}</span>
</div>
<div>
    <label for="responsable">Responsable</label>
    <span id="responsable"  class="inline_blocke values_info">{{values.responsable_garantia_set.all.0.responsable.nombre}}</span>
</div>
<div>
    <label for="area">Area</label>
    <span id="area" class="inline_blocke values_info">{{values.responsable_garantia_set.all.0.area}}</span>
</div>
<h4 class="">GARANTIA</h4>
<div>
    <label for="tipo_soporte">Tipo Soporte</label>
    <span id="tipo_soporte" class="inline_blocke values_info">{{values.responsable_garantia_set.all.0.tipo_soporte}}</span>
</div>
<div>
    <label for="fecha_inicio">Fecha Inicio</label>
    <span id="fecha_inicio"  class="inline_blocke values_info">{{values.responsable_garantia_set.all.0.fecha_inicio}}</span>
</div>
<div>
    <label for="fecha_fin">Fecha Fin</label>
    <span id="fecha_fin" class="inline_blocke values_info">{{values.responsable_garantia_set.all.0.fecha_fin}}</span>
</div>