<div>
    <label for="osname">Plataforma</label>
    <span id="plataforma" class="inline_blocke values_info">{{values.software_set.all.0.plataforma}}</span>
</div>
<div>
    <label for="publisher">Versión</label>
    <span id="version" class="inline_blocke values_info">{{values.software_set.all.0.version}}</span>
</div>
<div>
    <label for="oscomments">Release</label>
    <span id="release" class="inline_blocke values_info">{{values.software_set.all.0.release}}</span>
</div>
<div>
    <label for="kernell">Service Pack</label>
    <span id="service_pack"  class="inline_blocke values_info">{{values.software_set.all.0.service_pack}}</span>
</div>