<input type="hidden" name="id_features" id="id_features" class="optional" value='{%if values.features_set.all.0.pk %}{{values.features_set.all.0.pk}}{% else %}0{% endif %}' />
<div>
    <label for="ram">RAM</label>
    <input type="text" name="ram" id="ram" maxlength="150" tabindex="9" value="{{values.features_set.all.0.ram}}" />
</div>            
<div>
    <label for="espacio_asignado">Tamaño de disco</label>
    <input type="text" name="espacio_asignado" id="espacio_asignado" tabindex="10" value="{{values.features_set.all.0.espacio_asignado}}" />
</div>            
<div>
    <label for="antivirus">Antivirus</label>
    <input type="checkbox" name="antivirus" id="antivirus" value="1" tabindex="11" {% if values.features_set.all.0.antivirus %}checked="checked"{% endif %} /> SI
</div>            
<div>
    <label for="delegado_prod">Delegado Prod</label>
    <input type="checkbox" name="delegado_prod" id="delegado_prod"  tabindex="12" value="1" {%if values.features_set.all.0.delegado_prod%}checked="checked"{% endif %} />
</div>            
<div>
    <label for="proc_socket">Socket Procesador</label>
    <input type="text" name="proc_socket" id="proc_socket" maxlength="150" tabindex="13" value="{{values.features_set.all.0.proc_socket}}" />
</div>
<div>
    <label for="proc_cores">CORES</label>
    <input type="text" name="proc_cores" id="proc_cores" maxlength="150" tabindex="14" value="{{values.features_set.all.0.proc_cores}}" />
</div>            
<div>
    <label for="proc_arq">ARQ Procesador</label>
    <select name="proc_arq" id="proc_arq" tabindex="16">
        <option value=""></option>
        <option value="32 BITS">32 BITS</option>
        <option value="64 BITS">64 BITS</option>
    </select>
</div>

<div id="block_caja_discos">
    <h3>CHAROLA DE DISCOS</h3>
    {% if values.disco_set.all %}
       {% for d in values.disco_set.all %}
            <div class="disc_info">
                 <label>ID Charola</label> <input type="text" name="id_charola" value="{{d.id_charola}}" />
                 <label>Espacio Discos </label><input type="text" name="discos" value="{{d.discos}}" />
                 <label>Espacio Ocupado</label><input type="text" name="espacio_ocupado" value="{{d.espacio_ocupado}}" />
                 <label>Tipo Disco</label><input type="text" name="tipo_disco" value="{{d.tipo_disco}}" />
                 <label>Tamaño Discos</label><input type="text" name="tamanyo_disco" value="{{d.tamanyo_disco}}" />
             </div>
        {% endfor %}
    {% else %}
    <div class="disc_info">
     <label>ID Charola</label> <input type="text" name="id_charola" />
       <label>Espacio Discos</label><input type="text" name="discos" />
       <label>Espacio Ocupado</label><input type="text" name="espacio_ocupado" />
       <label>Tipo Disco</label><input type="text" name="tipo_disco" />
       <label>Tamaño Discos</label><input type="text" name="tamanyo_disco" />
    </div>
    {% endif%}
    <div id="more_discs"></div>
    <a href="#masdiscos" id="masdiscos">AGREGAR CHAROLA</a>
</div>
