<input type="hidden" name="id_hardware" id="id_hardware" class="optional" value='{{values.pk}}' />
<div>
    <label for="tipo_hdwre">Tipo Hardware</label>
    <select name="tipo_hdwre" id="tipo_hdwre" tabindex="1">
        <option value="">Seleccione</option>
        <option value="Fisico">Servidor Fisico</option>
        <option value="Virtual">Servidor Virtual</option>
        <option value="Controladora">Controladora</option>
        <option value="Switch">Switch</option>
        <option value="Enclousure">Enclosure</option>
        <option value="VTL">VTL</option>
        <option value="AS400">AS400</option>
    </select>
</div>

<div>
    <input type="hidden" name="idocs" id="idocs" class="optional" value="{{values.idocs}}" />
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" maxlength="150" tabindex="1" value="{{values.nombre}}" />
</div>
<div>
    <label for="cluster">Cluster</label>
        <input type="text" name="cluster" id="cluster" maxlength="100" tabindex="26" value="{{values.cluster}}"/>
</div>


<div>
    <label for="ssn">No. Serie</label>
    <input type="text" name="ssn" id="ssn" maxlength="350" tabindex="2" value="{{values.ssn}}" />
</div>
<div>
    <label for="marca">Marca</label>
    <select name="marca" id="marca" tabindex="3">
        <option value="">Seleccione</option>
        {% for marca in marcas %}
            <option value="{{marca.pk}}">{{marca.nombre}}</option>
        {% endfor %}
    </select>
    <a href="#INFOGENERAL" id="to_marca" class="addsingleton">Marca</a>
</div>
<div>
    <label for="modelo">Modelo</label>
    <select name="modelo" id="modelo" tabindex="4">
        <option value="">Seleccione</option>
    </select>
    <a href="#INFOGENERAL" id="to_modelo" class="addsingleton">Modelo</a>
</div>
<div>
    <label for="consola">Vcenter</label>
    <select name="consola" id="consola" tabindex="5">
        <option value="">Seleccione</option>
        <option value="MTY">MTY</option>
        <option value="CB">CB</option>
    </select>
</div>

<div>
    <label for="ambiente">Entorno</label>
    <select name="ambiente" id="ambiente" tabindex="7">
        <option value="">Seleccione</option>
        <option value="Producción">Producción</option>
        <option value="Desarrollo">Desarrollo</option>
        <option value="Contingencia">Contingencia</option>
        <option value="Entornos previos">Entornos previos</option>
        <option value="Pruebas">Pruebas</option>        
    </select>
</div>
<div>
    <label for="lun">Lun</label>
    <input type="text" name="lun" id="lun" maxlength="2" value="{{values.lun|default_if_none:""}}" tabindex="8" class="smalltxt"/>
</div>

<div>
    <label for="cmdb">CMDB</label>
    <input type="checkbox" name="cmdb" id="cmdb" value="1" {% if values.cmdb %}checked="checked"{% endif %}  tabindex="8"/>
</div>
<div>
    <label for="fecha_registro">Fecha Registro</label>
    <input type="text" name="fecha_registro" id="fecha_registro" maxlength="10" tabindex="32" class="date optional" value="{{values.fecha_registro|default_if_none:""|date:"d/m/Y"}}" />
</div>
<div>
    <label for="fecha_llegada">Fecha Llegada</label>
    <input type="text" name="fecha_llegada" id="fecha_llegada" maxlength="10" tabindex="32" class="date optional" value="{{values.fecha_llegada|default_if_none:""|date:"d/m/Y"}}" />
</div>
<div>
    <label for="fecha_instalacion">Fecha Instalación</label>
    <input type="text" name="fecha_instalacion" id="fecha_instalacion" maxlength="10" tabindex="32" class="date optional" value="{{values.fecha_instalacion|default_if_none:""|date:"d/m/Y"}}" />
</div>
<div>
    <label for="fecha_apagado">Fecha Apagado</label>
    <input type="text" name="fecha_apagado" id="fecha_apagado" maxlength="10" tabindex="32" class="date optional" value="{{values.fecha_apagado|default_if_none:""|date:"d/m/Y"}}" />
</div>
