<input type="hidden" name="id_lugar" id="id_lugar" class="optional" value='{%if values.lugar_set.all.0.pk %}{{values.lugar_set.all.0.pk}}{% else %}0{% endif %}' />
<div>
    <label for="edificio">Edificio</label>
    <select name="edificio" id="edificio" tabindex="34">
        <option value="">Seleccione</option>
        {% for edificio in edificios %}
        <option value="{{edificio.pk}}">{{edificio.nombre_edificio}}</option>
        {% endfor %}

    </select>
    <a href="#mas_edificio" id="to_edificio" class="addsingleton">+edificio</a>
</div>

<div>
    <label for="num_rack">Rack</label>
    <input type="text" name="num_rack" id="num_rack" maxlength="150" tabindex="35" value="{{values.lugar_set.all.0.num_rack}}" />
</div>
<div>
    <label for="fila_rack">Fila Rack</label>
    <input type="text" name="fila_rack" id="fila_rack" maxlength="150" tabindex="36" value="{{values.lugar_set.all.0.fila_rack}}" />
</div>

<div>
    <label for="formato_nombre">Formato</label>
    <select tabindex="16" id="formato_nombre" name="formato_nombre">
        <option value=""></option>
        <option value="BLADE">Blade</option>
        <option value="ENCLOUSURE">Enclousure</option>
        <option value="POWER ENCLOUSURE">Power Enclousure</option>
        <option value="RACK">Rack</option>
        <option value="TORRE">Torre</option>
        <option value="VM">VM</option> 
    </select>
</div>

<div>
    <label for="unidades">Unidades</label>
    <input type="text" name="unidades" id="unidades" value="{{values.lugar_set.all.0.unidades}}" maxlength="20" tabindex="38"/>
</div>
<div>
    <label for="no_enclousure"> Enclousure</label>
    <input type="text" name="no_enclousure" id="no_enclousure" maxlength="150" tabindex="38" value="{{values.lugar_set.all.0.no_enclousure}}" />
</div>

<div>
    <label for="posicion_enclousure">Posición Enclousure</label>
    <input type="text" name="posicion_enclousure" id="posicion_enclousure" maxlength="150" tabindex="15" value="{{values.lugar_set.all.0.posicion_enclousure}}" />
</div>            

