<input type="hidden" name="id_network" id="id_network" class="optional" value='{%if values.network_set.all.0.pk %}{{values.network_set.all.0.pk}}{% else %}0{% endif %}' />
{% if values.ips_set.all %}
{% for ipp in values.ips_set.all %}
   <div class="ip_info">
        <input type="hidden" name="ips_id[]" value="{{ipp.id}}" class="optional" />
        <div class="inline_blocke" style="width:120px;"><span>NOMBRE:</span><br/><input type="text" name="nameip[]"  class="smalltxt" value="{{ipp.nameip}}" style="width:80px !important;" /></div>
        <div class="inline_blocke" style="width:150px;"><span>NUM:</span><br/><input type="text"  name="ipnum[]" value="{{ipp.ipnum}}" style="width:100px !important;" /></div>
        <div class="inline_blocke" style="width:150px;"><span>DESC:</span><br/><input type="text" name="descrip[]" class="optional" value="{{ipp.descrip}}" style="width:120px !important;"></div>
   </div>
{% endfor %}
{% else %}
 <div class="ip_info" id="masterip">
       <input type="hidden" name="ips_id[]" class="optional" />
        <div class="inline_blocke" style="width:120px;"><span>NOMBRE:</span><br/><input type="text" name="nameip[]" value="IP" class="smalltxt" value="" /></div>
        <div class="inline_blocke" style="width:150px;"><span>NUM:</span><br/><input type="text"  name="ipnum[]" value="0" class="optional"  style="width:100px !important;" /></div>
        <div class="inline_blocke" style="width:150px;"><span>DESC:</span><br/><input type="text" name="descrip[]" value="" class="optional" style="width:120px !important;"></div>
 </div>
{% endif %}
<a href="#masips" class="masip btn_default">AGREGAR OTRO</a>
<div id="ip_moduls"></div>
<div>
    <label for="puertos_total">Puertos total</label>
    <input type="text" name="puertos_total" id="puertos_total" maxlength="100" tabindex="22" value="{{values.network_set.all.0.puertos_total}}"/>
</div>
<div>
    <label for="puertos_licenciados">Puertos licenciados</label>
    <input type="text" name="puertos_licenciados" id="puertos_licenciados" maxlength="100" tabindex="23" value="{{values.network_set.all.0.puertos_licenciados}}"/>
</div>
<div>
    <label for="puertos_usados">Puertos Usados</label>
    <input type="text" name="puertos_usados" id="puertos_usados" maxlength="100" tabindex="24" value="{{values.network_set.all.0.puertos_usados}}"/>
</div>
<div>
    <label for="puerto_switch">Puerto Switch</label>
    <input type="text" name="puerto_switch" id="puerto_switch" maxlength="100" tabindex="25" value="{{values.network_set.all.0.puerto_switch}}"/>
</div>

<div>
    <label for="no_serie_oa">No. Serie OA</label>
    <input type="text" name="no_serie_oa" id="no_serie_oa" maxlength="150" tabindex="39" value="{{values.network_set.all.0.no_serie_oa}}" />
</div>
<div>
    <div class="inline_blocke">
        <label for="respaldos">Respaldos</label>
        <ul class="listad" id="respaldos">
            <li> <input type="checkbox" name="respaldos"  value="8 MM" />8 MM</li>
            <li> <input type="checkbox" name="respaldos"  value="ACTIVE DIRECT" />Active Direct</li>
            <li> <input type="checkbox" name="respaldos"  value="BACKUP EXEC" />Backup Exec</li>
            <li> <input type="checkbox" name="respaldos"  value="CLUSTER" />Cluster</li>
            <li> <input type="checkbox" name="respaldos"  value="FÁBRICA" />Fábrica</li>
            <li> <input type="checkbox" name="respaldos"  value="LT03" />LT03</li>
            <li> <input type="checkbox" name="respaldos"  value="LT04" />LT04</li>
            <li> <input type="checkbox" name="respaldos"  value="NETBACKUP" />Netbackup</li>
            <li> <input type="checkbox" name="respaldos"  value="CINTA" />Cinta</li>
            <li> <input type="checkbox" name="respaldos"  value="SNAPSHOT" />Snapshot</li>
            <li> <input type="checkbox" name="respaldos"  value="N/A" />N/A</li>
    </div> 
    <div class="inline_blocke">
        <label for="monitores">Monitores</label>
            <ul class="listad">
                <li><input type="checkbox" name="monitores"  value="NAGIOS">Nagios</li>
                <li><input type="checkbox" name="monitores"  value="ORION">Orion</li>
                <li><input type="checkbox" name="monitores"  value="PATROL">Patrol</li>
                <li><input type="checkbox" name="monitores"  value="INSIGHT">Insight</li>
                <li><input type="checkbox" name="monitores"  value="ON COMMAND">On Command</li>
            </ul>
    </div> 
</div>
