<input type="hidden" name="id_responsable_garantia" id="id_responsable_garantia" class="optional" value='{%if values.responsable_garantia_set.all.0.pk %}{{values.responsable_garantia_set.all.0.pk}}{% else %}0{% endif %}' />
<div>
    <label for="nombre_aplicacion">Nombre Aplicación</label>
    <input type="text" name="nombre_aplicacion" id="nombre_aplicacion" maxlength="100" tabindex="27" value="{{values.responsable_garantia_set.all.0.nombre_aplicacion}}" />
</div>
<div>
    <label for="empresa">Empresa</label>
    <select name="empresa" id="empresa" tabindex="34">
        <option value="">Seleccione</option>
        {% for empresa in empresas %}
        <option value="{{empresa.pk}}">{{empresa.empresa}}</option>
        {% endfor %}
    </select>
    <a href="#mas_empresa" id="to_empresa" class="addsingleton">+empresa</a>
</div>
<div>
    <label for="responsable">Responsable</label>
    <select name="responsable" id="responsable" tabindex="34">
        <option value="">Seleccione</option>
    </select>
    <a href="#mas_responsable" id="to_responsable_nombre" class="addsingleton">+Responsable</a>
</div>
<div>
    <label for="area">Area</label>
    <select name="area" id="area" tabindex="30">
        <option value="">Seleccione</option>
        <option value="APLICATIVO">Aplicativo</option>
        <option value="INFRAESTRUCTURA">Infraestructura</option>
        <option value="OFIMÁTICA">Ofimática</option>
        <option value="SEGURIDAD">Seguridad</option>
        <option value="SPA">SPA</option>
        <option value="BRS">BRS</option>
    </select>
</div>
<h4 class="">GARANTIA</h4>
<div>
    <label for="tipo_soporte">Tipo Soporte</label>
    <select name="tipo_soporte" id="tipo_soporte" tabindex="31">
        <option value="">Seleccione</option>
        <option value="Recientes">Recientes</option>
        <option value="Soporte HP">Soporte HP</option>
        <option value="Soporte ADS(Novadata)">Soporte ADS(Novadata)</option>
        <option value="Soporte IBM HW">Soporte IBM HW</option>
        <option value="SYC">SYC</option>
        <option value="Ermestel">Ermestel</option>
        <option value="Solvan">Solvan</option>
        <option value="Symantec">Symantec</option>
    </select>
</div>
<div>
    <label for="fecha_inicio">Fecha Inicio</label>
    <input type="text" name="fecha_inicio" id="fecha_inicio" maxlength="10" tabindex="32" class="date" value="{{values.responsable_garantia_set.all.0.fecha_inicio|default_if_none:""|date:"d/m/Y"}}" />
</div>
<div>
    <label for="fecha_fin">Fecha Fin</label>
    <input type="text" name="fecha_fin" id="fecha_fin" maxlength="10" tabindex="33" class="date" value="{{values.responsable_garantia_set.all.0.fecha_fin|default_if_none:""|date:"d/m/Y"}}" />
</div>

