<input type="hidden" name="id_software" id="id_software" class="optional" value='{%if values.software_set.all.0.pk %}{{values.software_set.all.0.pk}}{% else %}0{% endif %}' />
<div>
    <label for="plataforma">Plataforma</label>
    <input type="text" name="plataforma" id="plataforma" maxlength="200" tabindex="40" value="{{values.software_set.all.0.plataforma}}" />
</div>
<div>
    <label for="version">Versión</label>
    <input type="text" name="version" id="version" maxlength="200" tabindex="41" value="{{values.software_set.all.0.version}}"/>
</div>
<div>
    <label for="release">Release</label>
    <input type="text" name="release" id="release" maxlength="200" tabindex="42" value="{{values.software_set.all.0.release}}"/>
</div>
<div>
    <label for="service_pack">Service Pack</label>
    <input type="text" name="service_pack" id="service_pack" maxlength="100" tabindex="43" value="{{values.software_set.all.0.service_pack}}"/>
</div>
