<form name="form_usuario" id="form_usuario" action="/manager/adduser/" method="post" class="formface">
    <input type="hidden" name="idu" value="{{usr.pk}}" />
            {% csrf_token %}
    <div class="divform">
        <label for="nombre" class="inline_blocke labelin">Nombre:</label>
        <input type="text" name="first_name" class=" inputs void"  value="{{usr.first_name}}" />
    </div>
    <div class="divform">
        <label for="porcion" class="inline_blocke labelin">Apellidos:</label>
        <input type="text" name="last_name" class=" inputs void"  value="{{usr.last_name}}" />
    </div>
    <div class="divform">
        <label for="poder" class="inline_blocke labelin">Usuario:</label>
        <input type="text" name="username" class=" inputs void"  value="{{usr.username}}" />
    </div>    
    <div class="divform">
        <label for="poder" class="inline_blocke labelin">Password:</label>
        <input type="password" name="password" class=" inputs "  value="" />
    </div>
{% if 'admin' in gp %}    
    <div class="divform">
        <label for="poder" class="inline_blocke labelin">Grupo:</label>
        
        <select name="groups" id="grupo" class="inputs" multiple="multiple">
            {% for grupo in grupos %}
                <option value="{{grupo.pk}}" {% if grupo in usr.groups.all %}selected="selected"{% endif %} >{{grupo.name}}</option>
            {% endfor %}
        </select>
    </div>
{% endif %}

    <div id="subbtn">
        <button type="submit" class="btns addingbtn">Guardar</button>
        <a href="#" id="closeuserform" class="btn_standart closer">Cerrar</a>
    </div>
</form>
<script type="text/javascript">
        $("#closeuserform").click(function(e){
        e.preventDefault();
        $("#form_usuario").remove();
    });

</script>
