<form name="add_hardware_form" id="add_hardware_form" method="post" action="addhardware" class="formface">
        <div id="pasos" class="inline_blocke quicksand">Paso <span id="stepp">1</span></div>
        <div id="block_singleton">
            <h4 id="title_cap"></h4>
            <input type="text" id="singletext" name="nombre" value="" /><br/>
            <a href="#GO" id="save_single" class="inline_blocke buton_standart">GUARDAR</a>
            <a href="#GO" id="close_single" class="inline_blocke buton_standart">CERRAR</a>
        </div>
    <ul class="revas_unem">
        <li class="inline_blocke"><a href="#1" id="to_block_infogeneral" class="shower revas_unem_onn inline_blocke">INFO GENERAL</a></li>
        <li class="inline_blocke"><a href="#2" id="to_block_features" class="shower inline_blocke">CARACTERISTICAS</a></li>
        <li class="inline_blocke"><a href="#3" id="to_block_network" class="shower inline_blocke">NETWORK</a></li>
        <li class="inline_blocke"><a href="#4" id="to_block_responsable_garantia" class="shower inline_blocke">RESPONSABLE/GARANTIAS</a></li>
        <li class="inline_blocke"><a href="#5" id="to_block_location" class="shower inline_blocke">UBICACIÓN</a></li>    
        <li class="inline_blocke"><a href="#6" id="to_block_software" class="shower inline_blocke">SOFTWARE</a></li>
    </ul>
    
    <div id="form_dentro" class="">
        <div class="inline_blocke" style="width:80%;">
                <h4 id="successsadd"></h4>
                <div id="default_vals">
                    {% csrf_token %}
                    <input type="hidden" name="seccion" id="seccion" value="block_infogeneral"/>
                    <input type="hidden" name="db_state" value="{% if values.db_state %}{{values.db_state}}{% else %}3{% endif%}" />
                </div>
                <div id="block_infogeneral" class="blockes">
                    {% include "pices/forms/infogeneral.html"%}
                </div>
                <div id="block_features" class="blockes">
                    {% include "pices/forms/features.html"%}
                </div>
                <div id="block_network" class="blockes">
                    {% include 'pices/forms/network.html'%}
                </div>
                <div id="block_responsable_garantia" class="blockes">
                    {% include 'pices/forms/responsable.html'%}
                </div>
                <div id="block_location" class="blockes">
                    {% include 'pices/forms/location.html'%}
                </div>
                <div id="block_software"  class="blockes">
                    {% include 'pices/forms/software.html'%}
                </div>        
        </div>
        <div id="botonera_form" class="inline_blocke" style="width:10% !important;">
                <a href="#save" id="save">GUARDAR</a>
                {% ifequal values.db_state 3%}<a href="#" id="ending">FINALIZAR</a>{% endifequal %}
                <a href="#cerrar" id="closer_box" class="inline_blocke ">CANCELAR</cerrar>
        </div>

        </div>
        

        
    </div>

</form>
<script type="text/javascript">
    // ESTAS LINEAS SE COLOCAN AQUI YA QUE CONTIENEN VARIABLES DE DJANGO Y SOLO PUEDEN SER LEIDAS DENTRO DEL TEMPLATE
    if('{{values.pk}}'!='0') {
        $("#marca").val("{{values.marca.pk}}");
        var loading_params = new activ_event_forms;

        if("{{values.marca.pk}}"!='')
            loading_params.load_models("{{values.modelo.pk}}");
        var respaldos_val = "{{values.network_set.all.0.respaldos}}".split(',');
        var monitores_val = "{{values.network_set.all.0.monitores}}".split(',');
        for (i in respaldos_val) {
             $(":input[value="+respaldos_val[i]+"]").attr("checked","true");
        }
        for (i in monitores_val) {
             $(":input[value="+monitores_val[i]+"]").attr("checked","true");
        }
        $("#edificio").val("{{values.lugar_set.all.0.edificio.pk}}");
        $("#empresa").val("{{values.responsable_garantia_set.all.0.empresa.pk}}");

        if("{{values.responsable_garantia_set.all.0.empresa.pk}}"!='')        
            loading_params.load_responsables("{{values.responsable_garantia_set.all.0.responsable.pk}}");

        $("#area").val("{{values.responsable_garantia_set.all.0.area}}");
        $("#tipo_soporte").val("{{values.responsable_garantia_set.all.0.tipo_soporte}}");
        $("#formato_nombre").val("{{values.lugar_set.all.0.formato_nombre}}");
        $("#proc_arq").val("{{values.features_set.all.0.proc_arq}}");
        $("#ambiente").val("{{values.ambiente}}");
        $("#consola").val("{{values.consola}}");
        $("#area").val("{{values.responsable_garantia_set.all.0.area}}");
        $("#tipo_hdwre").val("{{values.tipo_hdwre}}");
        $("#edificio").val("{{values.lugar_set.all.0.edificio.pk}}");
        $("#formato_nombre").val('{{values.lugar_set.all.0.formato_nombre}}');
        var valor = '{{values.lugar_set.all.0.formato_nombre}}';
        

        dislikes_module("{{values.tipo_hdwre}}");


        if(valor=='ENCLOUSURE' || valor=='POWER ENCLOUSURE'){
            $("#unidades").attr('class','closeded').parents("div:first").hide();    
            $("#no_enclousure").removeClass('closeded').parents("div:first").show();
            $("#posicion_enclousure").removeClass('closeded').parents("div:first").show();
        }
        else{
           $("#no_enclousure").parents('div:first').hide();
           $("#no_enclousure").addClass('closeded');
           $("#posicion_enclousure").attr('class','closeded').parents('div:first').hide();
           $("#unidades").removeClass('closeded').parents('div:first').show();
        }


        if("{{values.idocs}}"=='0' || "{{values.idocs}}"=='None'){
                var o = null;
        }
        else{
            $("#nombre,#ssn,#plataforma,#version,#release,#ip,#ram,#proc_socket,#service_pack").attr("readonly","readonly").addClass('disabledd');
            $("#marca,#modelo,#proc_arq ").addClass('disabledd');
        }
        
        
    }
</script>
