<div  class="formface">
    <ul class="revas_unem">
        <li class="inline_blocke"><a href="#INFOGENERAL" id="to_block_infogeneral" class="shower_d revas_unem_onn inline_blocke">INFO GENERAL</a></li>
        <li class="inline_blocke"><a href="#INFOGENERAL" id="to_block_features" class="shower_d">CARACTERISTICAS</a></li>
        <li class="inline_blocke"><a href="#INFOGENERAL" id="to_block_network" class="shower_d">NETWORK</a></li>
        <li class="inline_blocke"><a href="#INFOGENERAL" id="to_block_responsable_garantia" class="shower_d">RESPONSABLE/GARANTIAS</a></li>
        <li class="inline_blocke"><a href="#INFOGENERAL" id="to_block_location" class="shower_d">UBICACIÓN</a></li>    
        <li class="inline_blocke"><a href="#INFOGENERAL" id="to_block_software" class="shower_d">SOFTWARE</a></li>
    </ul>
    <div id="form_dentro" class="inline_blocke">
        <div id="block_infogeneral" class="blockes">
            {% include "pices/details/infogeneral.html"%}
        </div>
        <div id="block_features" class="blockes">
            {% include "pices/details/features.html"%}
        </div>
        <div id="block_network" class="blockes">
            {% include 'pices/details/network.html'%}
        </div>
        <div id="block_responsable_garantia" class="blockes">
            {% include 'pices/details/responsable.html'%}
        </div>
        <div id="block_location" class="blockes">
            {% include 'pices/details/location.html'%}
        </div>
        <div id="block_software"  class="blockes">
            {% include 'pices/details/software.html'%}
        </div>        
    </div>
</div>

<script type="text/javascript">
    // ESTAS LINEAS SE COLOCAN AQUI YA QUE CONTIENEN VARIABLES DE DJANGO Y SOLO PUEDEN SER LEIDAS DENTRO DEL TEMPLATE
    if('{{values.pk}}'!='0') {
        //$("#marca").val("{{values.marca.pk}}");
        //var loading_params = new activ_event_forms;
        //
        //if("{{values.marca.pk}}"!='')
        //    loading_params.load_models("{{values.modelo.pk}}");
        //
        //$("#respaldos").val("{{values.network_set.all.0.respaldos}}");
        //$("#monitores").val("{{values.network_set.all.0.monitores}}");
        //$("#edificio").val("{{values.lugar_set.all.0.edificio.pk}}");
        //$("#empresa").val("{{values.responsable_garantia_set.all.0.empresa.pk}}");
        //
        //if("{{values.responsable_garantia_set.all.0.empresa.pk}}"!='')        
        //    loading_params.load_responsables("{{values.responsable_garantia_set.all.0.responsable.pk}}");
        //
        //$("#area").val("{{values.responsable_garantia_set.all.0.area}}");
        //$("#tipo_soporte").val("{{values.responsable_garantia_set.all.0.tipo_soporte}}");
        //$("#formato_nombre").val("{{values.features_set.all.0.formato_nombre}}");
        //$("#proc_arq").val("{{values.features_set.all.0.proc_arq}}");
        //$("#ambiente").val("{{values.ambiente}}");
        //$("#consola").val("{{values.consola}}");
        //$("#tipo_hdwre").val("{{values.tipo_hdwre}}");
        dislikes_module("{{values.tipo_hdwre}}");
    }
</script>