<div class="down_state inline_blocke" id="box_filter_switcher">
    <a class="inline_blocke cuffonik" id="stater_buton" href="#stater">&lt; BÚSQUEDA AVANZADA</a>
</div>

<form name="filter_form" id="filter_form" method="post" action="searchenggine" class="formface inline_blocke" style="width:100%;">
    {% csrf_token %}
    <input type="hidden" name="liga_txt" id="liga_txt" value="/searching" />
    <div id="moresearch" style="width:100%;">
        <div class="inline_blocke" style="width:20%;">
        <div>
            <ul>
                <li>FECHAS</li>
                <select name="first_date">
                    <option value="">&nbsp;</option>
                {% for fecha in fechas %}
                   <option value='{{fecha.0}}'>{{fecha.1}}</option>
                {% endfor %}
                </select>
                <select name="operator_date" class="malltxt">
                    <option value="__lte">Menor</option>
                    <option value="__gte">Mayor</option>
                    <option value="">Igual</option>
                </select>
                <input type="text" name="dated" class="date_s" value="" />
                <p>(Fecha que desea localizar (yyyy-mm-dd))</p>
            </ul>                            
        </div>
    

         <div>
            <ul>
                <li>FECHAS</li>
                <select name="last_date">
                     <option value="">&nbsp;</option>
                {% for fecha in fechas %}
                   <option value='{{fecha.0}}'>{{fecha.1}}</option>
                {% endfor %}
                </select>
                <select name="operator_date_late" class="malltxt">
                    <option value="__lte">Menor</option>
                    <option value="__gte">Mayor</option>
                    <option value="">Igual</option>
                </select>                    
                <input type="text" class="date_s" name="datedlast" value="" />
                <p>(Fecha que desea localizar (yyyy-mm-dd))</p>
            </ul>
        </div>



    </div>
    
    <div class="inline_blocke" style="width:70%;">
        <div id="buscando_txt" class="inline_blocke" style="width:160px;">
           <select name="campo" style="width:120px !important;font-size:12px;" class="campo">
                    <option value="ips__ipnum__icontains">IP</option>
                {% for f,v in fields.items%}
                    {% ifnotequal v.model '' %}
                    <option value="{{v.model}}__{{f}}__icontains">{{v.verbose_name}}</option>
                    {% else %}
                    <option value="{{f}}__icontains">{{v.verbose_name}}</option>
                    {%endifnotequal%}
                {% endfor %}
                </select><br/><br/>
            <input type="text" name="texto" class="texto" style="width:100px !important;"/>
           <p> (Escriba aquí su texto de búsqueda)</p>
        </div>
        <a href="#mas" id="mas_txts">AGREGAR +</a>

        <div id="mas_busqueda" class="inline_blocke"></div>
    </div>
    </div>    
<input type="submit" id="on_screen" value="BUSCAR"/>
<div id="campos_a_mostrar" style="height:80px;display:none;overflow:auto;width:200px;background:#004D91;" class="inline_blocke">
                    {% for f,v in fields.items%}
                    {% ifnotequal v.model '' %}
                    <div><input type="checkbox" name="camper"  value="{{v.model}}__{{f}}" />{{v.verbose_name}}</div>
                    {% else %}
                    <div><input type="checkbox" name="camper" value="{{f}}" />{{v.verbose_name}}</div>
                    {%endifnotequal%} 
                {% endfor %}

</div>
<br/><br/><br/>

</form>    
