{% load extras%}
<style>
    *{
        font-family:Calibri,Helvetica,Arial,sans-serif;   
     }
    .info_box td{
        padding:0px 12px;
    }   
    .odd{
        background:#EFEFEF;
        color:#000;
        }
    #reporteador{
        background:#FFF;
        width:80%;margin:auto;
    }
</style>
{% if results %}
    <div class="pagination">
        {% if totales > 10 %}
        <span>Mostrar </span>
        
        <a href="#/10/" class="next_page" id="i_10">10</a>
        
        {% if totales > 20 %}
         <a href="#/20/" class="next_page" id="i_20">20</a>
        {% endif %}
        {% if totales > 50 %}
        <a href="#/50/" class="next_page" id="i_50">50</a>
        {% endif %}
        <span>por página.</span>
        {% endif %}
    </div>
<div class="pagination"><b>Se encontraron {{totales}} elementos</b></div>
<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a class="next_page" href="#/{{num_items}}/?page={{ results.previous_page_number }}">Previa</a>
        {% endif %}

        <span class="current">
            Página {{ results.number }} de {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a class="next_page" href="#/{{num_items}}/?page={{ results.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>
<!-- <div><a href="#reporte" id="reporte_csv">Generar reporte(excel)</a></div>--> 
<table with="100%" align="center" height="100%" border="0" style="text-align:center;margin:auto;">
<tr>
    <th>TIPO</th>
    <th>SERVICIO</th>
    <th>NOMBRE</th>
    <th>SISTEMA OPERATIVO</th>
    <th>IP</th>
    <th>EDIFICIO</th>
    <th>INFO</th>
    <th>LOG</th>
    <th>STATUS</th>
    <th></th>

</tr>
{% for h in results %}
<tr class="info_box {% cycle 'odd' 'even' %}">
    <td><h4 class="name_h">{{h.tipo_hdwre}}</h4></td>
    <td class="name_h">{{h.responsable_garantia_set.all.0.nombre_aplicacion}}</td>
    <td class="name_h">{{h.nombre}}</td>
    <td class="name_h">{{h.software_set.all.0.plataforma}}</td>
    <td class="name_h">{{h.ips_set.all.0.nameip}}: {{h.ips_set.all.0.ipnum}}</td>
    <td class="name_h">{{h.lugar_set.all.0.edificio.nombre_edificio}}</td>
    <td style="padding:0px 24px;"><a href="#detail_buton" id="info_{{h.id}}" class="detail_buton buton_standart inline_blocke">+ Info</a></td>
    <td><a href="#log_buton" id="log_{{h.id}}" class="log_buton buton_standart inline_blocke">historial</a></td>
    <td>
    <!--  #  define el status del registro {1:activo,2:eliminado,3:edicion,4:ocs}-->
    {% if h.db_state > 1 %}Pendiente {% else %}Finalizado{% endif%}
    <!--
    <select name="status" id="status_h{{h.pk}}"> 
       
        <option value="1">Completo/en Rack</option>
        <option value="3">Pendiente de Captura</option>
        <option value="4">Bodega</option>
        <option value="5">Apagado (Rack)</option>
    </select>
    -->
    <!-- <a href="#eliminar" id="kll_{{h.hardware.pk}}" class="del_buton buton_standart inline_blocke">Cambiar Status</a>--></td>
    <td>
    {% if h.tipo_hdwre in editables or 'all' in editables %}
    <a id="reslut_{{h.id}}" href="#editar" class="edit_buton buton_standart inline_blocke">EDITAR</a></td>
    {% endif %}
    {% if editables %}
    {% for ed in editables %}
        {% if ed|is_in:h.software_set.all.0.plataforma  %}
            <a id="reslut_{{h.id}}" href="#editar" class="edit_buton buton_standart inline_blocke">EDITAR</a></td>
        {% endif %}
    {% endfor %}
    {% endif %}
</tr>
<script type="text/javascript">
    $("#status_h_{{h.pk}}").val('{{h.db_state}}');
</script>
{% endfor %}
</table>
<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a class="next_page" href="#/{{num_items}}/?page={{ results.previous_page_number }}">Previa</a>
        {% endif %}

        <span class="current">
            Página {{ results.number }} de {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a class="next_page" href="#/{{num_items}}/?page={{ results.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>

{% else %}
    <h4>No se encontraron resultados</h4>
{% endif %}
<script type="text/javascript">

    var camposVal = ['','nombre','ssn','software__plataforma','ips__ipnum','fecha_registro','responsable_garantia__responsable','lugar__fila_rack','tipo_hdwre','software__version'];

    $("#reporte_csv").click(function(e){
        e.preventDefault();
        $("#descargar_reporte").click();
        return false;

        $(".campo:first option").each(function(ec,item){
            alert($(item).val());
        });
        return false;
        var formulario = $("#filter_form").clone();
        $(formulario).attr("id","porteador_form");
        var diver = document.createElement('div');
        diver.id="reporteador";
        $(diver).append(formulario);
        var campo = $(".campo:first");
        $("#back_lbox").show().fadeTo('',0.8,function(){
            $("#lbox").show('fast');

            $(".campo:first option").each(function(ec,item){
                var p = document.createElement('input');
                p.type='checkbox';
                p.name='camper';
                
            });
            for(i=1;i<10;i++){
                var p = document.createElement('input');
                p.type="checkbox";
                p.name='camper';
                p.value=camposVal[i];
                $(formulario).append(p);
            }
            var ir = document.createElement('a');
            ir.href="#a";
            ir.innerHTML = 'akkkasd';
            $(ir).click(function(e){
                e.preventDefault();
               data = $("#porteador_form").serializeArray();
               $.ajax({url:'/reporter',data:data,type:'post',success:function(response){
                        k = 0;
                    }
                });
            });
            $(diver).append(ir);

            $("#lbox_content").append(diver);
           
           // $("#lbox_content").html('<div class="cargando">Cargando...</div>').load("/log/"+victim+"/",function(){                 
           //             });
        });


    });


</script>
