{% if results %}



    <div class="pagination">
        <span>Mostrar </span>
        <a href="#/10/" class="next_page" id="i_10">10</a>
        <a href="#/20/" class="next_page" id="i_20">20</a>
        <a href="#/50/" class="next_page" id="i_50">50</a>
        <span>por página.</span>
    </div>
<div class="pagination"><b>Se encontraron {{totales}} elementos</b></div>
<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a class="next_page" href="#/{{num_items}}/?page={{ results.previous_page_number }}">Previa</a>
        {% endif %}

        <span class="current">
            Página {{ results.number }} de {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a class="next_page" href="#/{{num_items}}/?page={{ results.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>
{% for h in results %}
<div  class="inline_blocke each_one">
    <div class="butons_box">
        <a id="reslut_{{h.hardware.id}}" href="#editar" class="edit_buton buton_standart inline_blocke">Editar</a>
        <br/>
        <a href="#detail_buton" id="info_{{h.hardware.id}}" class="detail_buton buton_standart inline_blocke">+ Info</a>
        <a href="#log_buton" id="log_{{h.hardware.id}}" class="log_buton buton_standart inline_blocke">historial</a>
    </div>
    <div class="info_box">
        <h4 class="quiksand name_h">{{h.hardware.nombre}}</h4>
        <h4 class="quiksand info_h">{{h.hardware.software_set.all.0.plataforma}}</h4>
<!--        <div class="quiksand">MARCA: {{h.hardware.marca.nombre}}</div>
        <div class="quiksand">Modelo: {{h.hardware.modelo.nombre}}</div>
        <div class="quiksand">OSNAME: {{h.hardware.software_set.all.0.osname}}</div>
-->        <div class="del_buton_box">
        <a href="#eliminar" id="kll_{{h.hardware.pk}}" class="del_buton buton_standart inline_blocke">Eliminar</a>
    </div>
    </div>
</div>
{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if results.has_previous %}
            <a class="next_page" href="#/{{num_items}}/?page={{ results.previous_page_number }}">Previa</a>
        {% endif %}

        <span class="current">
            Página {{ results.number }} de {{ results.paginator.num_pages }}.
        </span>

        {% if results.has_next %}
            <a class="next_page" href="#/{{num_items}}/?page={{ results.next_page_number }}">Siguiente</a>
        {% endif %}
    </span>
</div>

{% else %}
    <h4>No se encontraron resultados</h4>
{% endif %}

<div id="filter_box">
{% include 'pices/filter.html' %}
</div>


<script type="text/javascript">
    var params_search = [];
    
        params_search.push({name:'text_search',
                           value:'{{data_post.text_search}}'});
        params_search.push({name:'csrfmiddlewaretoken',
                           value:'{{data_post.csrfmiddlewaretoken}}'});
        
    $.getScript("/media/js/search_more.js");
</script>
