{% extends "admin/base_site.html" %}
{% load i18n admin_modify adminmedia %}

{% block extrahead %}{{ block.super }}
{% url admin:jsi18n as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
     <script type="text/javascript" src="{{MEDIA_URL}}js/jquery-1.3.2.min.js"></script>
     <script type="text/javascript" src="{{MEDIA_URL}}js/fj.1.2.js"></script>
     <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key={{keyG}}&sensor=false" type="text/javascript"></script>
     <script type="text/javascript">
          var map;
          var geocoder = null;
          var iconoMarca = new GIcon(G_DEFAULT_ICON);
          iconoMarca.image = "/media/img/teleton.jpg";
          function onLoad(){
               var marker;
               if (GBrowserIsCompatible()) {
                    map = new GMap2(document.getElementById("map_canvas"));
					map.setMapType(G_HYBRID_MAP);
                    geocoder = new GClientGeocoder();
                    map.disableDoubleClickZoom();
                    map.disableScrollWheelZoom();
                    map.addControl(new GMapTypeControl()); 
                    map.addControl(new GLargeMapControl3D());
                    var point = new GLatLng($("#id_latitud").val(),$("#id_longitud").val());
                    geocoder.getLatLng(point,function(point){
                    if (!point) {
                                 alert("Ubicación no encontrada.");
                    }
                    else{
                         map.setCenter(point, 15);
                         marker = new GMarker(point, iconoMarca);
                         map.addOverlay(marker);
                    }
                    });
                    GEvent.addListener(map, 'click', function(overlay, point) { 
                         if (marker) { 
                              map.removeOverlay(marker); 
                              marker = null; 
                         } 
                         if (point) { 
                              pin = new GMarker(point,iconoMarca); 
                              map.addOverlay(pin); 
                              marker = pin; 
                              $("#id_longitud").val(point.x);
                              $("#id_latitud").val(point.y);
                         } 
                    });

                    
               }
          }


          function initialize(address) {
               var marker;
               if (GBrowserIsCompatible()) {
                    map = new GMap2(document.getElementById("map_canvas"));
                    geocoder = new GClientGeocoder();
                    map.disableDoubleClickZoom();
                    map.disableScrollWheelZoom();
                    map.addControl(new GMapTypeControl()); 
                    map.addControl(new GLargeMapControl3D());
                    geocoder.getLatLng(
                    address,
                         function(point) {
                              if (!point) {
                                 alert("Ubicación no encontrada.");
                              } else {
                                   map.setCenter(point, 15);
                                   marker = new GMarker(point, iconoMarca);
                                   map.addOverlay(marker);
                                  $("#id_longitud").val(point.x);
                                  $("#id_latitud").val(point.y);
                              }
                              $("#cargando").remove();
                    });
                    GEvent.addListener(map, 'click', function(overlay, point) { 
                         if (marker) { 
                              map.removeOverlay(marker); 
                              marker = null; 
                         } 
                         if (point) { 
                              pin = new GMarker(point,iconoMarca); 
                              map.addOverlay(pin); 
                              marker = pin; 
                              $("#id_longitud").val(point.x);
                              $("#id_latitud").val(point.y);
                         } 
                    });

               }
          }
    </script>
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/forms.css" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../">{{ app_label|capfirst|escape }}</a> &rsaquo; 
     {% if has_change_permission %}<a href="../">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %} &rsaquo; 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}
</div>
{% endif %}{% endblock %}

{% block content %}<div id="content-main" style="width:55%;">
{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools"><li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
<form {% if has_file_field %}enctype="multipart/form-data" {% endif %}action="{{ form_url }}" method="post" id="{{ opts.module_name }}_form">{% csrf_token %}{% block form_top %}{% endblock %}
{% csrf_token %}
<div>
{% if is_popup %}<input type="hidden" name="_popup" value="1" />{% endif %}
{% if save_on_top %}{% submit_row %}{% endif %}
{% if errors %}
    <p class="errornote">
    {% blocktrans count errors|length as counter %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
    </p>
    {{ adminform.form.non_field_errors }}
{% endif %}

{% for fieldset in adminform %}
  {% include "admin/includes/fieldset.html" %}
{% endfor %}

{% block after_field_sets %}{% endblock %}

{% for inline_admin_formset in inline_admin_formsets %}
    {% include inline_admin_formset.opts.template %}
{% endfor %}

{% block after_related_objects %}{% endblock %}

{% submit_row %}

{% if adminform and add %}
   <script type="text/javascript">document.getElementById("{{ adminform.first_field.auto_id }}").focus();</script>
{% endif %}

{# JavaScript for prepopulated fields #}
{% prepopulated_fields_js %}

</div>
<div id="map_canvas" style="width:40%; height:375px; position:absolute; top:224px; right:30px;"" ></div>
</form>
</div>


<script type="text/javascript">
function changeMap(){
     var parametros = ['direccion','del_mun','estado'];
     var cadena = "";
     var valor;
     for(v=0;v<parametros.length;v++){
          var valore = $("#id_"+parametros[v]).val();
          if(valore.length>0)
               cadena += valore + ",";
     }
     var address = cadena+",México";
     initialize(address);          
}

$(document).ready(function(){
     if($("#id_latitud").val().length>0)onLoad();
     $("#id_cp").change(function(){
          $("#id_estado").val("");
          $("#id_colonia").val("");
          $("#id_del_mun").val("");
          $("#id_ciudad").val("");
          $("#id_direccion").val("");          
          if(this.value.length>1 & this.value!=""){
               $(this).after('<span id="cargando">Cargando Info, espere por favor ...</span>');
               $.ajax({url:'/sepomex/',type:'post',async:false,data:{cp:this.value},
                      success:function(response){
                         var jsons = eval('('+response+')');
                         if(jsons.length>1){
                              var colonia = Kreator("","","id_colonia","colonia","select");
                              $("#id_estado").val(jsons[0].estado);
                              $("#id_colonia").val(jsons[0].colonia);
                              $("#id_del_mun").val(jsons[0].municipio);
                              $("#id_ciudad").val(jsons[0].ciudad);
                              $("#id_direccion").val("");
                              for(a=0;a<jsons.length;a++){
                                   $("#id_colonia").remove();
                                   $("[for=id_colonia]").after(colonia);
                                   $("#id_colonia").append('<option value="'+jsons[a].colonia+'">'+jsons[a].colonia+'</option>');
                                   $("#cargando").remove();
                              }
                         }
                         else if(jsons.length==1){
                              $("#id_colonia").remove();
                              var coloniatxt = Kreator("","vTextField","id_colonia","colonia","input");
                              $("[for=id_colonia]").after(coloniatxt);
                              $("#id_estado").val(jsons[0].estado);
                              $("#id_colonia").val(jsons[0].colonia);
                              $("#id_del_mun").val(jsons[0].municipio);
                              $("#id_ciudad").val(jsons[0].ciudad);
                              $("#id_direccion").val("");
                              $("#cargando").remove();
                         }
               }});
          }
          changeMap();
     });
     $("#id_direccion").change(function(){
          $(this).after('<span id="cargando">Cargando Mapa, espere por favor ...</span>');
          changeMap();
     });
	 //var selected_set = $("#id_flickr_set").val();
	 //var flickr_url = '/flickrapi/sets/?selected='+selected_set+'&id=id_flickr_set&req=0&name=flickr_set';
	 //$.get(flickr_url, function(data){
	 //	$("#id_flickr_set").replaceWith(data);
	 //});
	 {% if add %}
		$("#id_nombre").keyup(function() {
	        var e = $("#id_slug")[0];
	        if (!e._changed) {
	            e.value = URLify(this.value, 64);
	        }
	    });
	{% endif %}
     
});
     
</script>
{% endblock %}
